extends base


block content
    div.loginPage
        div.loginHeight
            form(method="POST").joinForm
                if errorMessage
                    span=errorMessage
                div.nickname
                    input(placeholder="Nickname", name="nickname", type="text", required)
                div
                    input(placeholder="Password", name="password", type="password", required)
                div
                    input(placeholder="Confirm Password", name="password2", type="password", required)
                div
                    input(type="submit", value="Join")
                div.auth-switch
                    span Already have an account? 
                    a(href="/login") Log in now &rarr;